@import "@/css/vars.sass"
	
#aside.voting-moderation
	.part-title
		margin-bottom: $r * 3
		color: $bulma			

	.message
		margin-top: $r * 2

		.v-button
			width: 100%

	.message
		margin-top: $r * 2
