@import "@/css/vars.sass"
	
#content.voting-moderation-content
	.no-aside
		&:first-child
			margin-top: $r * 3

		margin-bottom: $r * 8

		.part-title
			margin-bottom: $r * 3
			color: $bulma			

		.message
			margin-top: $r * 2

			.v-button
				width: 100%

	strong.subtitle
		&:not(.part-title)
			font-weight: bold
